<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection</title>
</head>

<body>
    <header>
        <h1>
            Life Line
        </h1>
        
    </header>
    <br>
    <!--We can connect the different pages to this navigation bar, I would use href however I am sure theres some ejs stuff we could do-->
    <nav>
        <a href ="">Home</a>
        ||
		<a href="">Fitness</a> 
        ||
		<a href="">Health</a>
        ||
        <a href="">Profile</a>
        ||
        <a href="">Settings</a>

	</nav>
<p>whats up</p>
<footer>
    
    <p class>Page built by: The Obeast Team</p>
</footer>

</body>
<!--Here is the color scheme I decided to go with, feel free to change whatever you want
https://icolorpalette.com/imagepalette/person_running_mountainous_landforms
-->
<style>



header{
    font-family: sans-serif;
	text-align: center;
	color: #424240;
	font-weight: bold;
    border:10px solid #b6a47f;
	background-color: #BAD2EC;

        
        
}
footer{
    color: #424240;
    font-family: sans-serif;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#BAD2EC;
    text-align: center;
   
}
h1, h2, h3
{
	text-align: center;
}
nav
{
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 110%
	
}
a
{
	text-decoration: none;
	color: #030c02;
}
a:hover
{
	text-decoration: overline underline;
}
</style>
