<%- include('../partials/header.ejs')%>
<p>whats up</p>
<%- include('../partials/footer.ejs')%>
<!--Here is the color scheme I decided to go with, feel free to change whatever you want
https://icolorpalette.com/imagepalette/person_running_mountainous_landforms
-->
<style>



header{
    font-family: sans-serif;
	text-align: center;
	color: #424240;
	font-weight: bold;
    border:10px solid #b6a47f;
	background-color: #BAD2EC;

        
        
}
footer{
    color: #424240;
    font-family: sans-serif;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#BAD2EC;
    text-align: center;
   
}
h1, h2, h3
{
	text-align: center;
}
nav
{
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 110%
	
}
a
{
	text-decoration: none;
	color: #030c02;
}
a:hover
{
	text-decoration: overline underline;
}
</style>
